# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/
dist/

# env & secrets
.env
.env*.local
*.pem

# debug / logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# misc
logo_dataurl.txt
*.log
coverage/

# local database
prisma/*.db
prisma/*.db-journal

